In [2]:
import pandas as pd
import numpy as np

In [4]:
raw_gdp = pd.read_csv(r'D:\Canadian Business Analysis Project\data\3610044901-eng.csv', skiprows=11)

In [5]:
raw_gdp = raw_gdp.replace("..", np.nan)

In [6]:
raw_gdp = raw_gdp.dropna(axis=1, how='all')

In [7]:
raw_gdp.head()

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
0,NaN,Dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All industries [T001] 5,"2,180,563","2,203,812","2,220,933","2,220,068","2,243,529","2,250,113","2,251,327","2,256,559","2,272,242","2,289,577","2,302,487","2,315,470","2,324,643","2,318,577","2,330,397"
2,Goods-producing industries [T002] 5,"574,234","580,949","585,597","577,445","580,675","580,405","577,838","579,298","577,026","582,404","583,766","587,300","592,067","584,714","591,909"
3,Services-producing industries [T003] 5,"1,607,533","1,623,639","1,635,846","1,644,899","1,665,855","1,673,444","1,678,166","1,682,143","1,701,728","1,713,184","1,725,001","1,734,271","1,738,133","1,741,143","1,744,896"
4,Business sector industries [T004],"1,775,653","1,795,049","1,808,896","1,803,695","1,823,605","1,829,551","1,827,986","1,837,074","1,844,386","1,855,793","1,864,297","1,876,693","1,884,381","1,877,041","1,889,631"

In [10]:
raw_gdp.tail(15)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"
32,Table Corrections:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Date,Note,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2018-08-31,"On September 4, 2018, the data in the quarterl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1,Aggregates are not always equal to the sum of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2,"At the lowest level of detail, it may not be p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3,"With November 28, 2025 release, the monthly gr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,4,"Effective November 30, 2023, the data is prese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,5,The alphanumeric code represents an aggregatio...,Industry code concordance (opens new window)<...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,How to cite: Statistics Canada. Table 36-10-04...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
naics_col = "North American Industry Classification System (NAICS) 3"
quarter_cols = [c for c in raw_gdp.columns if str(c).strip().startswith("Q")] # Get all quarter columns

In [ ]:
raw_gdp_clean = raw_gdp.dropna(subset=quarter_cols, how="all").copy() # Drop rows where all quarter columns are NaN

In [30]:
raw_gdp_clean.tail(5)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"

In [17]:
raw_gdp_clean.tail(15)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
23,"Professional, scientific and technical service...","153,050","155,561","158,890","160,838","163,691","165,452","164,972","165,317","166,868","168,233","169,223","169,620","168,854","168,558","168,304"
24,Management of companies and enterprises [55],"2,162","1,909","1,728","1,589","1,500","1,380","1,261","1,150","1,072",987,907,822,770,731,690
25,"Administrative and support, waste management a...","58,848","59,582","60,453","60,753","61,243","61,477","61,092","61,072","61,305","61,114","60,826","61,011","61,286","60,912","60,805"
26,Educational services [61],"116,984","118,325","119,150","119,861","121,226","121,646","122,686","117,290","122,580","125,454","126,137","126,004","126,732","126,701","126,342"
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"
34,2018-08-31,"On September 4, 2018, the data in the quarterl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1,Aggregates are not always equal to the sum of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2,"At the lowest level of detail, it may not be p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3,"With November 28, 2025 release, the monthly gr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,4,"Effective November 30, 2023, the data is prese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,5,The alphanumeric code represents an aggregatio...,Industry code concordance (opens new window)<...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
gdp_num = raw_gdp.copy()

for c in quarter_cols:
    gdp_num[c] = (
        gdp_num[c]
        .astype(str)
        .str.replace(",", "", regex=False)  # remove thousands separator from numbers under Quarter columns
    )
    gdp_num[c] = pd.to_numeric(gdp_num[c], errors="coerce")

In [27]:
min_numeric_quarters = 2
mask = gdp_num[quarter_cols].notna().sum(axis=1) >= min_numeric_quarters # At least 2 numeric quarter values
raw_gdp_clean = raw_gdp.loc[mask].copy() # Keep only rows that meet the criteria

In [29]:
raw_gdp_clean.tail(5)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"