In [1]:
import pandas as pd
import numpy as np

In [4]:
raw_gdp = pd.read_csv(r'D:\Canadian Business Analysis Project\data\3610044901-eng.csv', skiprows=11)

In [5]:
raw_gdp = raw_gdp.replace("..", np.nan)

In [6]:
raw_gdp = raw_gdp.dropna(axis=1, how='all')

In [7]:
raw_gdp.head()

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
0,NaN,Dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All industries [T001] 5,"2,180,563","2,203,812","2,220,933","2,220,068","2,243,529","2,250,113","2,251,327","2,256,559","2,272,242","2,289,577","2,302,487","2,315,470","2,324,643","2,318,577","2,330,397"
2,Goods-producing industries [T002] 5,"574,234","580,949","585,597","577,445","580,675","580,405","577,838","579,298","577,026","582,404","583,766","587,300","592,067","584,714","591,909"
3,Services-producing industries [T003] 5,"1,607,533","1,623,639","1,635,846","1,644,899","1,665,855","1,673,444","1,678,166","1,682,143","1,701,728","1,713,184","1,725,001","1,734,271","1,738,133","1,741,143","1,744,896"
4,Business sector industries [T004],"1,775,653","1,795,049","1,808,896","1,803,695","1,823,605","1,829,551","1,827,986","1,837,074","1,844,386","1,855,793","1,864,297","1,876,693","1,884,381","1,877,041","1,889,631"

In [10]:
raw_gdp.tail(15)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"
32,Table Corrections:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Date,Note,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2018-08-31,"On September 4, 2018, the data in the quarterl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1,Aggregates are not always equal to the sum of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2,"At the lowest level of detail, it may not be p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3,"With November 28, 2025 release, the monthly gr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,4,"Effective November 30, 2023, the data is prese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,5,The alphanumeric code represents an aggregatio...,Industry code concordance (opens new window)<...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,How to cite: Statistics Canada. Table 36-10-04...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
naics_col = "North American Industry Classification System (NAICS) 3"
quarter_cols = [c for c in raw_gdp.columns if str(c).strip().startswith("Q")] # Get all quarter columns

In [ ]:
raw_gdp_clean = raw_gdp.dropna(subset=quarter_cols, how="all").copy() # Drop rows where all quarter columns are NaN

In [17]:
raw_gdp_clean.tail(15)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
23,"Professional, scientific and technical service...","153,050","155,561","158,890","160,838","163,691","165,452","164,972","165,317","166,868","168,233","169,223","169,620","168,854","168,558","168,304"
24,Management of companies and enterprises [55],"2,162","1,909","1,728","1,589","1,500","1,380","1,261","1,150","1,072",987,907,822,770,731,690
25,"Administrative and support, waste management a...","58,848","59,582","60,453","60,753","61,243","61,477","61,092","61,072","61,305","61,114","60,826","61,011","61,286","60,912","60,805"
26,Educational services [61],"116,984","118,325","119,150","119,861","121,226","121,646","122,686","117,290","122,580","125,454","126,137","126,004","126,732","126,701","126,342"
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"
34,2018-08-31,"On September 4, 2018, the data in the quarterl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1,Aggregates are not always equal to the sum of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2,"At the lowest level of detail, it may not be p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3,"With November 28, 2025 release, the monthly gr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,4,"Effective November 30, 2023, the data is prese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,5,The alphanumeric code represents an aggregatio...,Industry code concordance (opens new window)<...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
gdp_num = raw_gdp.copy()

for c in quarter_cols:
    gdp_num[c] = (
        gdp_num[c]
        .astype(str)
        .str.replace(",", "", regex=False)  # remove thousands separator from numbers under Quarter columns
    )
    gdp_num[c] = pd.to_numeric(gdp_num[c], errors="coerce")

In [27]:
min_numeric_quarters = 2
mask = gdp_num[quarter_cols].notna().sum(axis=1) >= min_numeric_quarters # At least 2 numeric quarter values
raw_gdp_clean = raw_gdp.loc[mask].copy() # Keep only rows that meet the criteria

In [29]:
raw_gdp_clean.tail(5)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"

In [31]:
raw_gdp_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 1 to 31
Data columns (total 16 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   North American Industry Classification System (NAICS) 3  31 non-null     object
 1   Q1 2022                                                  31 non-null     object
 2   Q2 2022                                                  31 non-null     object
 3   Q3 2022                                                  31 non-null     object
 4   Q4 2022                                                  31 non-null     object
 5   Q1 2023                                                  31 non-null     object
 6   Q2 2023                                                  31 non-null     object
 7   Q3 2023                                                  31 non-null     object
 8   Q4 2023                                                  31 non-null     object
 9   Q1 2024                                                  31 non-null     object
 10  Q2 2024                                                  31 non-null     object
 11  Q3 2024                                                  31 non-null     object
 12  Q4 2024                                                  31 non-null     object
 13  Q1 2025                                                  31 non-null     object
 14  Q2 2025                                                  31 non-null     object
 15  Q3 2025                                                  31 non-null     object
dtypes: object(16)
memory usage: 4.1+ KB

In [34]:
raw_gdp_clean.describe()

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
count,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
unique,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
top,All industries [T001] 5,"2,180,563","2,203,812","2,220,933","2,220,068","2,243,529","2,250,113","2,251,327","2,256,559","2,272,242","2,289,577","2,302,487","2,315,470","2,324,643","2,318,577","2,330,397"
freq,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [59]:
gdp_long = raw_gdp_clean.melt(   # Convert from wide to long format
    id_vars=[naics_col], # Keep NAICS column as identifier
    var_name="quarter",  # Name for the new 'variable' column
    value_name="gdp" # Name for the new 'value' column
)

In [60]:
gdp_long

,North American Industry Classification System (NAICS) 3,quarter,gdp
0,All industries [T001] 5,Q1 2022,"2,180,563"
1,Goods-producing industries [T002] 5,Q1 2022,"574,234"
2,Services-producing industries [T003] 5,Q1 2022,"1,607,533"
3,Business sector industries [T004],Q1 2022,"1,775,653"
4,Non-business sector industries [T007],Q1 2022,"404,641"
...,...,...,...
460,Health care and social assistance [62],Q3 2025,"189,390"
461,"Arts, entertainment and recreation [71]",Q3 2025,"19,156"
462,Accommodation and food services [72],Q3 2025,"51,914"
463,Other services (except public administration) ...,Q3 2025,"44,343"
464,Public administration [91],Q3 2025,"167,470"

In [61]:
gdp_long["year"] = gdp_long["quarter"].str[-4:].astype(int)

In [62]:
gdp_long["quarter_num"] = (
    gdp_long["quarter"]
    .str.extract(r"Q([1-4])") # Extract quarter number using regex
    .astype(int)
)

In [63]:
gdp_long = gdp_long.drop(columns=["quarter"])

In [64]:
gdp_long.head()

,North American Industry Classification System (NAICS) 3,gdp,year,quarter_num
0,All industries [T001] 5,"2,180,563",2022,1
1,Goods-producing industries [T002] 5,"574,234",2022,1
2,Services-producing industries [T003] 5,"1,607,533",2022,1
3,Business sector industries [T004],"1,775,653",2022,1
4,Non-business sector industries [T007],"404,641",2022,1

In [65]:
gdp_long = gdp_long.rename(columns={naics_col: "industry"})

In [66]:
gdp_long.head()

                                  industry        gdp  year  quarter_num
0                 All industries  [T001] 5  2,180,563  2022            1
1     Goods-producing industries  [T002] 5    574,234  2022            1
2  Services-producing industries  [T003] 5  1,607,533  2022            1
3       Business sector industries  [T004]  1,775,653  2022            1
4   Non-business sector industries  [T007]    404,641  2022            1

In [ ]:
gdp_long = gdp_long.sort_values(by=["industry", "year", "quarter_num"]).reset_index(drop=True)

In [68]:
gdp_long["gdp"] = (
    gdp_long["gdp"]
    .astype(str)
    .str.replace(",", "", regex=False)
)

In [69]:
gdp_long["gdp"] = pd.to_numeric(gdp_long["gdp"], errors="coerce") # Ensure 'gdp' column is numeric

In [74]:
gdp_long["gdp_qoq_growth"] = gdp_long.groupby("industry")["gdp"].pct_change() # Calculate quarter-over-quarter GDP growth per industry

In [75]:
gdp_long.head(10)

,industry,gdp,year,quarter_num,gdp_qoq_growth
0,Accommodation and food services [72],42114,2022,1,NaN
1,Accommodation and food services [72],47986,2022,2,0.139431
2,Accommodation and food services [72],50268,2022,3,0.047556
3,Accommodation and food services [72],50680,2022,4,0.008196
4,Accommodation and food services [72],51635,2023,1,0.018844
5,Accommodation and food services [72],50375,2023,2,-0.024402
6,Accommodation and food services [72],49509,2023,3,-0.017191
7,Accommodation and food services [72],50369,2023,4,0.017371
8,Accommodation and food services [72],50941,2024,1,0.011356
9,Accommodation and food services [72],51011,2024,2,0.001374

In [76]:
gdp_long["gdp_volatility_4q"] = (
    gdp_long
    .groupby("industry")["gdp_qoq_growth"]
    .rolling(4) # 4-quarter rolling standard deviation
    .std() # Calculate standard deviation
    .reset_index(level=0, drop=True) # Drop the grouping index
)

In [78]:
gdp_long.head(15)

,industry,gdp,year,quarter_num,gdp_qoq_growth,gdp_volatility_4q
0,Accommodation and food services [72],42114,2022,1,NaN,NaN
1,Accommodation and food services [72],47986,2022,2,0.139431,NaN
2,Accommodation and food services [72],50268,2022,3,0.047556,NaN
3,Accommodation and food services [72],50680,2022,4,0.008196,NaN
4,Accommodation and food services [72],51635,2023,1,0.018844,0.059646
5,Accommodation and food services [72],50375,2023,2,-0.024402,0.029718
6,Accommodation and food services [72],49509,2023,3,-0.017191,0.020496
7,Accommodation and food services [72],50369,2023,4,0.017371,0.022661
8,Accommodation and food services [72],50941,2024,1,0.011356,0.020658
9,Accommodation and food services [72],51011,2024,2,0.001374,0.015127
10,Accommodation and food services [72],50720,2024,3,-0.005705,0.010269
11,Accommodation and food services [72],51107,2024,4,0.007630,0.007481
12,Accommodation and food services [72],51689,2025,1,0.011388,0.007492
13,Accommodation and food services [72],52010,2025,2,0.006210,0.007387
14,Accommodation and food services [72],51914,2025,3,-0.001846,0.005574

In [79]:
gdp_long.to_csv(r'D:\Canadian Business Analysis Project\data\processed_gdp_data.csv', index=False)

In [80]:
cpi_raw = pd.read_csv(r'D:\Canadian Business Analysis Project\data\1810000401-eng.csv', skiprows=9)

In [81]:
cpi_raw.head()

,Products and product groups 3 4,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025,October 2025,November 2025
0,NaN,2002=100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All-items,145.3,146.8,148.9,149.8,151.9,152.9,153.1,152.6,152.7,...,163.0,163.5,163.4,164.3,164.4,164.9,164.8,164.9,165.3,165.4
2,Food 5,163.9,166.0,167.5,169.0,170.4,170.6,172.1,173.5,174.8,...,190.5,193.8,194.5,195.4,195.6,196.8,196.8,197.5,196.9,199.5
3,Shelter 6,157.6,158.6,160.2,161.9,163.0,163.6,164.2,164.1,164.9,...,186.7,187.0,186.9,186.9,187.3,187.9,188.0,188.2,189.4,189.6
4,"Household operations, furnishings and equipment",126.7,127.6,129.1,129.8,131.5,131.8,131.9,132.2,132.7,...,131.7,131.3,132.4,133.1,132.9,133.5,133.9,134.1,135.0,134.3

In [83]:
cpi_raw = cpi_raw.replace("..", np.nan)

In [84]:
cpi_raw = cpi_raw.dropna(axis=1, how='all')

In [88]:
cpi_raw = cpi_raw.drop(0, axis=0)

In [89]:
product_col = "Products and product groups 3 4"  

cpi_all = cpi_raw[cpi_raw[product_col].str.contains("All-items", case=False)].copy() # Keep only 'All-items' rows

In [91]:
cpi_all = cpi_all.drop([11, 12], axis=0)

In [92]:
cpi_all

,Products and product groups 3 4,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025,October 2025,November 2025
1,All-items,145.3,146.8,148.9,149.8,151.9,152.9,153.1,152.6,152.7,...,163.0,163.5,163.4,164.3,164.4,164.9,164.8,164.9,165.3,165.4

In [97]:
import re

month_cols = [
    c for c in cpi_all.columns
    if isinstance(c, str) and re.match(r"^[A-Za-z]+ \d{4}$", c) # re.match matches at the start of the string
]

In [101]:
cpi_long = cpi_all.melt(
    id_vars=[product_col],
    value_vars=month_cols,
    var_name="date",
    value_name="cpi"
)

In [104]:
cpi_long = cpi_long.drop(columns=["Products and product groups 3 4"])

In [105]:
cpi_long.head()

            date    cpi
0   January 2022  145.3
1  February 2022  146.8
2     March 2022  148.9
3     April 2022  149.8
4       May 2022  151.9

In [106]:
cpi_long["date"] = pd.to_datetime(
    cpi_long["date"],
    format="%B %Y" # Month Year format
)

In [107]:
cpi_long["year"] = cpi_long["date"].dt.year
cpi_long["quarter_num"] = cpi_long["date"].dt.to_period("Q").dt.quarter

In [113]:
cpi_long.head()

        date    cpi  year  quarter_num
0 2022-01-01  145.3  2022            1
1 2022-02-01  146.8  2022            1
2 2022-03-01  148.9  2022            1
3 2022-04-01  149.8  2022            2
4 2022-05-01  151.9  2022            2

In [114]:
cpi_long["cpi"] = (
    cpi_long["cpi"]
    .astype(str)
    .str.strip() # Remove leading/trailing whitespace
)

cpi_long["cpi"] = pd.to_numeric(
    cpi_long["cpi"],
    errors="coerce"
)

In [115]:
cpi_q = (
    cpi_long
    .groupby(["year", "quarter_num"], as_index=False)
    .agg(cpi=("cpi", "mean")) # Average CPI per quarter
)

In [116]:
cpi_q.head()

   year  quarter_num         cpi
0  2022            1  147.000000
1  2022            2  151.533333
2  2022            3  152.800000
3  2022            4  153.633333
4  2023            1  154.566667

In [120]:
cpi_q = cpi_q.sort_values(["year", "quarter_num"]).reset_index(drop=True)

cpi_q["cpi_qoq_growth"] = cpi_q["cpi"].pct_change()
cpi_q["cpi_yoy_growth"] = cpi_q["cpi"].pct_change(4) # Year-over-year growth (4 quarters)

In [ ]:
cpi_q["cpi_volatility_4q"] = cpi_q["cpi_qoq_growth"].rolling(4).std() # 4-quarter rolling std dev

In [123]:
cpi_q.head()

,year,quarter_num,cpi,cpi_qoq_growth,cpi_yoy_growth,cpi_volatility_4q
0,2022,1,147.000000,NaN,NaN,NaN
1,2022,2,151.533333,0.030839,NaN,NaN
2,2022,3,152.800000,0.008359,NaN,NaN
3,2022,4,153.633333,0.005454,NaN,NaN
4,2023,1,154.566667,0.006075,0.051474,0.012169

In [124]:
cpi_q.to_csv(r'D:\Canadian Business Analysis Project\data\processed_cpi_data.csv', index=False)

In [3]:
gdp_long = pd.read_csv(r'D:\Canadian Business Analysis Project\data\processed_gdp_data.csv')
cpi_q = pd.read_csv(r'D:\Canadian Business Analysis Project\data\processed_cpi_data.csv')

In [4]:
base = gdp_long.merge(
    cpi_q,
    on=["year", "quarter_num"], # merge on common columns
    how="left" # left join to keep all gdp_long rows even if no matching cpi_q data
)

In [5]:
base.head()

,industry,gdp,year,quarter_num,gdp_qoq_growth,gdp_volatility_4q,cpi,cpi_qoq_growth,cpi_yoy_growth,cpi_volatility_4q
0,Accommodation and food services [72],42114,2022,1,NaN,NaN,147.000000,NaN,NaN,NaN
1,Accommodation and food services [72],47986,2022,2,0.139431,NaN,151.533333,0.030839,NaN,NaN
2,Accommodation and food services [72],50268,2022,3,0.047556,NaN,152.800000,0.008359,NaN,NaN
3,Accommodation and food services [72],50680,2022,4,0.008196,NaN,153.633333,0.005454,NaN,NaN
4,Accommodation and food services [72],51635,2023,1,0.018844,0.059646,154.566667,0.006075,0.051474,0.012169

In [6]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   industry           465 non-null    object
 1   gdp                465 non-null    int64
 2   year               465 non-null    int64
 3   quarter_num        465 non-null    int64
 4   gdp_qoq_growth     434 non-null    float64
 5   gdp_volatility_4q  341 non-null    float64
 6   cpi                465 non-null    float64
 7   cpi_qoq_growth     434 non-null    float64
 8   cpi_yoy_growth     341 non-null    float64
 9   cpi_volatility_4q  341 non-null    float64
dtypes: float64(6), int64(3), object(1)
memory usage: 36.5+ KB

In [19]:
insolv_22 = pd.read_csv(r'D:\Canadian Business Analysis Project\data\insolvency_data_2022.csv', skiprows=9)

In [20]:
insolv_22.head()

,TYPE,CODE,TITLE,TITRE,N.L \nT.-N.-L.,N.S. \nN.-.,P.E.I. \n.-P.-.,N.B. \nN.-B.,QUE. \nQC,ONT. \nONT.,MAN. \nMAN.,SASK. \nSASK.,ALTA. \nALB.,B.C. \nC.-B.,N.W.T. \nT.-N.-O.,Y.T. \nYUKON,NUN. \nNUN.,CANADA \nCANADA
0,Sector / Secteur:,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, foresterie, pche et chasse",0,0,1,1,28,13,0,4,7,8,0,0,0,62
1,Sub Sector / Sous-secteur:,111,Crop Production,Cultures agricoles,0,0,0,1,1,8,0,3,3,0,0,0,0,16
2,Industry Group / Groupe industriel:,1111,Oilseed and Grain Farming,Culture de crales et de plantes olagineuses,0,0,0,0,1,0,0,3,0,0,0,0,0,4
3,Industry / Industrie:,11111,Soybean Farming,Culture du soja,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,National Industry / Industrie nationale:,111110,Soybean Farming,Culture du soja,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [21]:
insolv_23 = pd.read_csv(r'D:\Canadian Business Analysis Project\data\insolvency_data_2023.csv', skiprows=9)

In [22]:
insolv_23.head()

,TYPE,CODE,TITLE,TITRE,N.L \nT.-N.-L.,N.S. \nN.-.,P.E.I. \n.-P.-.,N.B. \nN.-B.,QUE. \nQC,ONT. \nONT.,MAN. \nMAN.,SASK. \nSASK.,ALTA. \nALB.,B.C. \nC.-B.,N.W.T. \nT.-N.-O.,Y.T. \nYUKON,NUN. \nNUN.,CANADA \nCANADA
0,Sector / Secteur:,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, foresterie, pche et chasse",0,0,0,2,37,6,2,2,6,8,0,0,0,63
1,Sub Sector / Sous-secteur:,111,Crop Production,Cultures agricoles,0,0,0,2,21,3,1,0,6,3,0,0,0,36
2,Industry Group / Groupe industriel:,1111,Oilseed and Grain Farming,Culture de crales et de plantes olagineuses,0,0,0,1,1,0,0,0,1,0,0,0,0,3
3,Industry / Industrie:,11111,Soybean Farming,Culture du soja,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,National Industry / Industrie nationale:,111110,Soybean Farming,Culture du soja,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
insolv_24 = pd.read_csv(r'D:\Canadian Business Analysis Project\data\insolvency_data_2024.csv', skiprows=9)

In [44]:
insolv_24.head()

,TYPE,CODE,TITLE,TITRE,N.L \nT.-N.-L.,N.S. \nN.-.,P.E.I. \n.-P.-.,N.B. \nN.-B.,QUE. \nQC,ONT. \nONT.,MAN. \nMAN.,SASK. \nSASK.,ALTA. \nALB.,B.C. \nC.-B.,N.W.T. \nT.-N.-O.,Y.T. \nYUKON,NUN. \nNUN.,CANADA \nCANADA
0,Sector / Secteur:,11,"Agriculture, forestry, fishing and hunting","Agriculture, foresterie, pche et chasse",0,3,0,2,50,9,3,1,2,4,0,0,0,74
1,Sub Sector / Sous-secteur:,111,Crop production,Cultures agricoles,0,1,0,0,16,3,2,1,0,2,0,0,0,25
2,Industry Group / Groupe industriel:,1111,Oilseed and grain farming,Culture de plantes olagineuses et de crales,0,0,0,0,0,0,2,0,0,0,0,0,0,2
3,Industry / Industrie:,11111,Soybean farming,Culture du soja,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,National Industry / Industrie nationale:,111110,Soybean farming,Culture du soja,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
insolv_22_sect = insolv_22[
    insolv_22["TYPE"].astype(str).str.strip().eq("Sector / Secteur:")
].copy()
 # Keep only rows where 'TYPE' contains 'Sector'
# we are not taking subsectors or industry group into consideration as it would mix the Naics level for our ML model
# Since in GDP and CPI data they are only at sector level, if we take everything it would create mismatches and inaccuracies

In [41]:
insolv_22_sect = insolv_22_sect[[
    "CODE",
    "TITLE",
    "CANADA \nCANADA"
]].copy()

In [46]:
insolv_22_sect = insolv_22_sect.rename(columns={
    "CODE": "naics_code",
    "TITLE": "industry",
    "CANADA \nCANADA": "insolvencies"
})

In [50]:
insolv_22_sect.head()

,naics_code,industry,insolvencies,year
0,11,"Agriculture, Forestry, Fishing and Hunting",62,2022
114,21,Mining and Oil and Gas Extraction,23,2022
162,22,Utilities,4,2022
183,23,Construction,358,2022
338,31,Manufacturing,69,2022

In [48]:
insolv_22_sect["insolvencies"] = pd.to_numeric(
    insolv_22_sect["insolvencies"],
    errors="coerce"
)

In [49]:
insolv_22_sect["year"] = 2022

In [51]:
insolv_23_sect = insolv_23[
    insolv_23["TYPE"].astype(str).str.strip().eq("Sector / Secteur:")
].copy()

In [52]:
insolv_23_sect = insolv_23_sect[[
    "CODE",
    "TITLE",
    "CANADA \nCANADA"
]].copy()

In [53]:
insolv_23_sect = insolv_23_sect.rename(columns={
    "CODE": "naics_code",
    "TITLE": "industry",
    "CANADA \nCANADA": "insolvencies"
})

In [54]:
insolv_23_sect["insolvencies"] = pd.to_numeric(
    insolv_23_sect["insolvencies"],
    errors="coerce"
)

In [57]:
insolv_23_sect.head()

,naics_code,industry,insolvencies,year
0,11,"Agriculture, Forestry, Fishing and Hunting",63,2023
114,21,Mining and Oil and Gas Extraction,24,2023
162,22,Utilities,7,2023
183,23,Construction,500,2023
338,31,Manufacturing,94,2023

In [56]:
insolv_23_sect["year"] = 2023

In [58]:
insolv_24_sect = insolv_24[insolv_24["TYPE"].astype(str).str.strip().eq("Sector / Secteur:")].copy()

In [59]:
insolv_24_sect = insolv_24_sect[[
    "CODE",
    "TITLE",
    "CANADA \nCANADA"
]].copy()

In [60]:
insolv_24_sect = insolv_24_sect.rename(columns={
    "CODE": "naics_code",
    "TITLE": "industry",
    "CANADA \nCANADA": "insolvencies"
})

In [61]:
insolv_24_sect["insolvencies"] = pd.to_numeric(
    insolv_24_sect["insolvencies"],
    errors="coerce"
)

In [62]:
insolv_24_sect["year"] = 2024

In [63]:
insolv_24_sect.head()

,naics_code,industry,insolvencies,year
0,11,"Agriculture, forestry, fishing and hunting",74,2024
118,21,"Mining, quarrying, and oil and gas extraction",16,2024
168,22,Utilities,9,2024
189,23,Construction,637,2024
260,31,Manufacturing,120,2024

In [64]:
insolv_all = pd.concat(
    [insolv_22_sect, insolv_23_sect, insolv_24_sect],
    ignore_index=True
)

In [74]:
insolv_all.head()

   naics_code                                    industry  insolvencies  year
0          11  Agriculture, Forestry, Fishing and Hunting            62  2022
1          21           Mining and Oil and Gas Extraction            23  2022
2          22                                   Utilities             4  2022
3          23                                Construction           358  2022
4          31                               Manufacturing            69  2022

In [69]:
insolv_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   naics_code    72 non-null     int64
 1   industry      72 non-null     object
 2   insolvencies  72 non-null     int64
 3   year          72 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.4+ KB

In [121]:
insolv_all.to_csv(r'D:\Canadian Business Analysis Project\data\processed_insolvency_data.csv', index=False)

In [75]:
acf_data = pd.read_csv(r'D:\Canadian Business Analysis Project\data\ds_accomfs_sect.csv', skiprows=11)

In [84]:
acf_data = acf_data.drop(0, axis=0)

KeyError: '[0] not found in axis'

In [78]:
acf_data = acf_data.replace("..", np.nan)
acf_data = acf_data.dropna(axis=1, how='all')

In [81]:
acf_data.tail()

,Business dynamics measure,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,December 2024,January 2025,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025
21,9,Entrants are businesses with employment in the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,10,A temporary business closure is the difference...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,11,The definition of exits is based on the Longit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,How to cite: Statistics Canada. Table 33-10-07...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
acf_data.head(10)

,Business dynamics measure,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,December 2024,January 2025,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025
1,Active businesses 4,"61,431","61,972","62,391","62,673","62,362","62,291","62,321","62,342","62,418",...,"64,192","64,012","64,076","64,010","64,241","64,329","64,399","64,666","64,542","64,863"
2,Opening businesses 5,"2,443","2,893","3,081","2,655","2,342","2,360","2,430","2,589","2,483",...,"3,625","2,705","2,782","2,625","2,758","2,796","2,691","3,036","2,599","2,886"
3,Continuing businesses 6,"59,120","58,934","59,462","59,915","60,001","59,895","59,741","59,749","59,894",...,"60,786","61,334","61,278","61,369","61,399","61,443","61,538","61,551","61,813","61,933"
4,Closing businesses 7,"2,794","2,622","2,542","2,297","2,566","2,517","2,370","2,504","2,381",...,"2,855","2,876","2,795","2,742","2,346","2,736","2,778","2,805","2,850","2,492"
5,Reopening businesses 8,"1,585","1,794","1,935","1,644","1,391","1,401","1,371","1,472","1,523",...,"2,418","1,748","1,858","1,783","1,655","1,731","1,656","1,683","1,818","1,699"
6,Entrants 9,858,"1,099","1,146","1,011",951,959,"1,059","1,117",960,...,"1,207",957,924,842,"1,103","1,065","1,035","1,353",781,"1,187"
7,Temporary closures 7 10,"2,033","1,763","1,630","1,410","1,618","1,504","1,434","1,530","1,471",...,"1,761","1,652","1,707","1,686",NaN,NaN,NaN,NaN,NaN,NaN
8,Exits 7 11,761,859,912,887,948,"1,013",936,974,910,...,"1,094","1,224","1,088","1,056",NaN,NaN,NaN,NaN,NaN,NaN
9,Symbol legend:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,not available for a specific reference period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
month_cols = acf_data.columns[1:]
month_cols

Index(['January 2022', 'February 2022', 'March 2022', 'April 2022', 'May 2022',
       'June 2022', 'July 2022', 'August 2022', 'September 2022',
       'October 2022', 'November 2022', 'December 2022', 'January 2023',
       'February 2023', 'March 2023', 'April 2023', 'May 2023', 'June 2023',
       'July 2023', 'August 2023', 'September 2023', 'October 2023',
       'November 2023', 'December 2023', 'January 2024', 'February 2024',
       'March 2024', 'April 2024', 'May 2024', 'June 2024', 'July 2024',
       'August 2024', 'September 2024', 'October 2024', 'November 2024',
       'December 2024', 'January 2025', 'February 2025', 'March 2025',
       'April 2025', 'May 2025', 'June 2025', 'July 2025', 'August 2025',
       'September 2025'],
      dtype='object')

In [97]:
acf_num = acf_data.copy()

for c in month_cols:
    acf_num[c] = (
        acf_num[c]
        .astype(str)
        .str.replace("\u00a0", "", regex=False)  # non-breaking space
        .str.replace(",", "", regex=False)       # thousands separator
        .str.replace(" ", "", regex=False)       # normal spaces
        .replace({"..": None, "": None, "": None, "nan": None})
    )
    acf_num[c] = pd.to_numeric(acf_num[c], errors="coerce")

In [98]:
acf_num

,Business dynamics measure,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,December 2024,January 2025,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025
1,Active businesses 4,61431.0,61972.0,62391.0,62673.0,62362.0,62291.0,62321.0,62342.0,62418.0,...,64192.0,64012.0,64076.0,64010.0,64241.0,64329.0,64399.0,64666.0,64542.0,64863.0
2,Opening businesses 5,2443.0,2893.0,3081.0,2655.0,2342.0,2360.0,2430.0,2589.0,2483.0,...,3625.0,2705.0,2782.0,2625.0,2758.0,2796.0,2691.0,3036.0,2599.0,2886.0
3,Continuing businesses 6,59120.0,58934.0,59462.0,59915.0,60001.0,59895.0,59741.0,59749.0,59894.0,...,60786.0,61334.0,61278.0,61369.0,61399.0,61443.0,61538.0,61551.0,61813.0,61933.0
4,Closing businesses 7,2794.0,2622.0,2542.0,2297.0,2566.0,2517.0,2370.0,2504.0,2381.0,...,2855.0,2876.0,2795.0,2742.0,2346.0,2736.0,2778.0,2805.0,2850.0,2492.0
5,Reopening businesses 8,1585.0,1794.0,1935.0,1644.0,1391.0,1401.0,1371.0,1472.0,1523.0,...,2418.0,1748.0,1858.0,1783.0,1655.0,1731.0,1656.0,1683.0,1818.0,1699.0
6,Entrants 9,858.0,1099.0,1146.0,1011.0,951.0,959.0,1059.0,1117.0,960.0,...,1207.0,957.0,924.0,842.0,1103.0,1065.0,1035.0,1353.0,781.0,1187.0
7,Temporary closures 7 10,2033.0,1763.0,1630.0,1410.0,1618.0,1504.0,1434.0,1530.0,1471.0,...,1761.0,1652.0,1707.0,1686.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Exits 7 11,761.0,859.0,912.0,887.0,948.0,1013.0,936.0,974.0,910.0,...,1094.0,1224.0,1088.0,1056.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Symbol legend:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,How to cite: Statistics Canada. Table 33-10-07...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
MIN_MONTHS = 2

mask = acf_num[month_cols].notna().sum(axis=1) >= MIN_MONTHS
acf_clean = acf_data.loc[mask].copy()

In [100]:
acf_clean["Business dynamics measure"].unique()

array(['Active businesses 4', 'Opening businesses 5',
       'Continuing businesses 6', 'Closing businesses 7',
       'Reopening businesses 8', 'Entrants 9', 'Temporary closures 7 10',
       'Exits 7 11'], dtype=object)

In [102]:
acf_clean

,Business dynamics measure,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,December 2024,January 2025,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025
1,Active businesses 4,"61,431","61,972","62,391","62,673","62,362","62,291","62,321","62,342","62,418",...,"64,192","64,012","64,076","64,010","64,241","64,329","64,399","64,666","64,542","64,863"
2,Opening businesses 5,"2,443","2,893","3,081","2,655","2,342","2,360","2,430","2,589","2,483",...,"3,625","2,705","2,782","2,625","2,758","2,796","2,691","3,036","2,599","2,886"
3,Continuing businesses 6,"59,120","58,934","59,462","59,915","60,001","59,895","59,741","59,749","59,894",...,"60,786","61,334","61,278","61,369","61,399","61,443","61,538","61,551","61,813","61,933"
4,Closing businesses 7,"2,794","2,622","2,542","2,297","2,566","2,517","2,370","2,504","2,381",...,"2,855","2,876","2,795","2,742","2,346","2,736","2,778","2,805","2,850","2,492"
5,Reopening businesses 8,"1,585","1,794","1,935","1,644","1,391","1,401","1,371","1,472","1,523",...,"2,418","1,748","1,858","1,783","1,655","1,731","1,656","1,683","1,818","1,699"
6,Entrants 9,858,"1,099","1,146","1,011",951,959,"1,059","1,117",960,...,"1,207",957,924,842,"1,103","1,065","1,035","1,353",781,"1,187"
7,Temporary closures 7 10,"2,033","1,763","1,630","1,410","1,618","1,504","1,434","1,530","1,471",...,"1,761","1,652","1,707","1,686",NaN,NaN,NaN,NaN,NaN,NaN
8,Exits 7 11,761,859,912,887,948,"1,013",936,974,910,...,"1,094","1,224","1,088","1,056",NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
acf_closures = acf_clean[
    acf_clean["Business dynamics measure"]
      .str.lower()
      .str.contains("closing")
].copy()

In [106]:
acf_closures

,Business dynamics measure,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,December 2024,January 2025,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025
4,Closing businesses 7,"2,794","2,622","2,542","2,297","2,566","2,517","2,370","2,504","2,381",...,"2,855","2,876","2,795","2,742","2,346","2,736","2,778","2,805","2,850","2,492"

In [107]:
id_col = "Business dynamics measure"

acf_long = acf_closures.melt(
    id_vars=[id_col],
    value_vars=month_cols,
    var_name="month",
    value_name="closures"
)

In [109]:
acf_long["year"] = (
    acf_long["month"]
    .str.extract(r"(\d{4})")
    .astype(int)
)

In [113]:
acf_long["closures"] = (
    acf_long["closures"]
      .astype(str)
      .str.replace("\u00a0", "", regex=False)  # non-breaking spaces
      .str.replace(",", "", regex=False)       # thousands separators
      .str.strip()
)

acf_long["closures"] = pd.to_numeric(acf_long["closures"], errors="coerce")

In [115]:
acf_yearly = (
    acf_long
    .groupby("year", as_index=False)
    .agg(closures=("closures", "sum"))
)
acf_yearly

   year  closures
0  2022     30115
1  2023     30790
2  2024     33524
3  2025     24420

In [116]:
acf_yearly = acf_yearly.sort_values("year")

acf_yearly["closures_lag1"] = acf_yearly["closures"].shift(1) # Lagged closures by 1 year since we dont use same year data to predict same year insolvencies

In [117]:
acf_yearly

   year  closures  closures_lag1
0  2022     30115            NaN
1  2023     30790        30115.0
2  2024     33524        30790.0
3  2025     24420        33524.0

In [ ]:
acf_yearly = acf_yearly.dropna(subset=["closures_lag1"]) # Drop rows where lagged closures is NaN (i.e., the first year)

In [119]:
acf_yearly

   year  closures  closures_lag1
1  2023     30790        30115.0
2  2024     33524        30790.0
3  2025     24420        33524.0

In [122]:
acf_yearly.to_csv(r'D:\Canadian Business Analysis Project\data\processed_acf_closures_yearly.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

def clean_sector_closures(
    filepath: str,
    sector_name: str,
    min_months: int = 6
) -> pd.DataFrame:
    """
    Cleans a Statistics Canada business dynamics dataset for a single sector.

    Steps:
    - Load raw CSV
    - Drop junk first row (row 0)
    - Standardize column names
    - Remove footnotes using numeric-density rule
    - Keep only 'Closing businesses'
    - Convert monthly data to numeric
    - Reshape wide  long
    - Aggregate monthly  yearly
    - Create 1-year lag feature

    Returns:
    DataFrame with columns:
    industry | year | closures | closures_lag1
    """

    # -----------------------------
    # 1. Load raw data
    # -----------------------------
    df = pd.read_csv(filepath, skiprows=11, encoding="utf-8-sig")

    # Drop first junk row (contains 'number')
    df = df.replace("..", np.nan)
    df = df.dropna(axis=1, how='all')
    df = df.drop(0, axis=0).reset_index(drop=True)

    # -----------------------------
    # 2. Clean column names
    # -----------------------------
    df.columns = (
        df.columns.astype(str)
        .str.replace("\n", " ", regex=False)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
    )

    # Identify ID column (measure name)
    id_col = df.columns[0]

    # Identify month columns
    month_cols = [c for c in df.columns if c != id_col]

    # -----------------------------
    # 3. Build numeric shadow copy
    #    (used ONLY to detect footnotes)
    # -----------------------------
    df_num = df.copy()

    for c in month_cols:
        df_num[c] = (
            df_num[c]
            .astype(str)
            .str.replace("\u00a0", "", regex=False)  # non-breaking space
            .str.replace(",", "", regex=False)       # thousands separator
            .str.replace(" ", "", regex=False)
            .replace({"..": None, "": None, "": None, "nan": None})
        )
        df_num[c] = pd.to_numeric(df_num[c], errors="coerce")

    # Keep rows with sufficient numeric coverage
    mask = df_num[month_cols].notna().sum(axis=1) >= min_months
    df_clean = df_num.loc[mask].copy()

    # -----------------------------
    # 4. Keep only "Closing businesses"
    # -----------------------------
    df_clean = df_clean[
        df_clean[id_col]
        .astype(str)
        .str.lower()
        .str.contains("closing")
    ].copy()

    # If nothing matched, return empty df safely
    if df_clean.empty:
        return pd.DataFrame(
            columns=["industry", "year", "closures", "closures_lag1"]
        )

    # -----------------------------
    # 5. Wide  Long (monthly)
    # -----------------------------
    df_long = df_clean.melt(
        id_vars=[id_col],
        value_vars=month_cols,
        var_name="month",
        value_name="closures"
    )

    # Ensure closures are numeric (critical)
    df_long["closures"] = pd.to_numeric(df_long["closures"], errors="coerce")

    # -----------------------------
    # 6. Extract year
    # -----------------------------
    df_long["year"] = (
        df_long["month"]
        .astype(str)
        .str.extract(r"(\d{4})")
        .astype(int)
    )

    # -----------------------------
    # 7. Aggregate monthly  yearly
    # -----------------------------
    yearly = (
        df_long
        .groupby("year", as_index=False)
        .agg(closures=("closures", "sum"))
        .sort_values("year")
    )

    # -----------------------------
    # 8. Create lag feature (no leakage)
    # -----------------------------
    yearly["closures_lag1"] = yearly["closures"].shift(1)

    # Drop first lag row 
    yearly = yearly.dropna(subset=["closures_lag1"]).copy()

    # -----------------------------
    # 9. Add industry label
    # -----------------------------
    yearly["industry"] = sector_name

    # -----------------------------
    # 10. Final column order
    # -----------------------------
    yearly = yearly[
        ["industry", "year", "closures", "closures_lag1"]
    ]

    return yearly

In [144]:
df_realest = clean_sector_closures(
    filepath=r"D:\Canadian Business Analysis Project\data\ds_realest_sect.csv",
    sector_name="Real Estate and Rental and Leasing"
)

In [145]:
df_realest.head()

                             industry  year  closures  closures_lag1
1  Real Estate and Rental and Leasing  2023   27813.0        26707.0
2  Real Estate and Rental and Leasing  2024   28464.0        27813.0
3  Real Estate and Rental and Leasing  2025   20836.0        28464.0

In [146]:
df_realest.to_csv(r'D:\Canadian Business Analysis Project\data\all_closures\processed_realest_closures_yearly.csv', index=False)

In [147]:
import pandas as pd
import glob

paths = glob.glob(r"D:\Canadian Business Analysis Project\data\all_closures\*.csv")

closures_all = pd.concat(
    [pd.read_csv(p) for p in paths],
    ignore_index=True
)

closures_all.head(), closures_all.shape

(                                     industry  year  closures  closures_lag1
 0             Accommodation and Food Services  2023   30790.0        30115.0
 1             Accommodation and Food Services  2024   33524.0        30790.0
 2             Accommodation and Food Services  2025   24420.0        33524.0
 3  Beverage and tobacco product manufacturing  2023     610.0          614.0
 4  Beverage and tobacco product manufacturing  2024     682.0          610.0,
 (45, 4))

In [63]:
closures_all

,industry,year,closures,closures_lag1
0,Accomodation and Food Services,2023,30790.0,30115.0
1,Accomodation and Food Services,2024,33524.0,30790.0
2,Accomodation and Food Services,2025,24420.0,33524.0
3,Beverage and tobacco product manufacturing,2023,610.0,614.0
4,Beverage and tobacco product manufacturing,2024,682.0,610.0
5,Beverage and tobacco product manufacturing,2025,508.0,682.0
6,Business Sector Industries,2023,518274.0,508443.0
7,Business Sector Industries,2024,539861.0,518274.0
8,Business Sector Industries,2025,401765.0,539861.0
9,Construction,2023,74018.0,69973.0
10,Construction,2024,76983.0,74018.0
11,Construction,2025,57022.0,76983.0
12,Finance and insurance and Management of compan...,2023,15352.0,15416.0
13,Finance and insurance and Management of compan...,2024,15249.0,15352.0
14,Finance and insurance and Management of compan...,2025,11073.0,15249.0
15,Food manufacturing,2023,1998.0,1910.0
16,Food manufacturing,2024,2245.0,1998.0
17,Food manufacturing,2025,1655.0,2245.0
18,Health care and social assistance,2023,37633.0,36883.0
19,Health care and social assistance,2024,40974.0,37633.0
20,Health care and social assistance,2025,31572.0,40974.0
21,Manufacturing,2023,14029.0,13219.0
22,Manufacturing,2024,14826.0,14029.0
23,Manufacturing,2025,11117.0,14826.0
24,"Mining, quarrying, and oil and gas extraction",2023,2696.0,2769.0
25,"Mining, quarrying, and oil and gas extraction",2024,2607.0,2696.0
26,"Mining, quarrying, and oil and gas extraction",2025,2026.0,2607.0
27,"Professional, scientific and technical services",2023,72408.0,71344.0
28,"Professional, scientific and technical services",2024,74079.0,72408.0
29,"Professional, scientific and technical services",2025,55123.0,74079.0
30,Real Estate,2023,27813.0,26707.0
31,Real Estate,2024,28464.0,27813.0
32,Real Estate,2025,20836.0,28464.0
33,Tourism,2023,38201.0,37833.0
34,Tourism,2024,40988.0,38201.0
35,Tourism,2025,30118.0,40988.0
36,Retail Trade,2023,35077.0,34986.0
37,Retail Trade,2024,36910.0,35077.0
38,Retail Trade,2025,26303.0,36910.0
39,Transportation and Warehousing,2023,41691.0,40660.0
40,Transportation and Warehousing,2024,43994.0,41691.0
41,Transportation and Warehousing,2025,31755.0,43994.0
42,Wholesale Trade,2023,12368.0,12163.0
43,Wholesale Trade,2024,12237.0,12368.0
44,Wholesale Trade,2025,9050.0,12237.0

In [65]:
insolv_all = pd.read_csv(r'D:\Canadian Business Analysis Project\data\processed_insolvency_data.csv')

In [66]:
insolv_all.head()

   naics_code                                    industry  insolvencies  year
0          11  Agriculture, Forestry, Fishing and Hunting            62  2022
1          21           Mining and Oil and Gas Extraction            23  2022
2          22                                   Utilities             4  2022
3          23                                Construction           358  2022
4          31                               Manufacturing            69  2022

In [67]:
insolv_all["year"].value_counts()

year
2022    24
2023    24
2024    24
Name: count, dtype: int64

In [ ]:
master_df = insolv_all.merge(
    closures_all[["industry_key", "year", "closures"]], 
    on=["industry_key", "year"],
    how="left"
)

master_df = master_df.sort_values(["industry_key", "year"])
master_df["closures_lag1"] = master_df.groupby("industry_key")["closures"].shift(1)

master_df = master_df.drop(columns=["closures"], errors="ignore")

In [148]:
def make_key(s):
    return (
        s.astype(str)
        .str.lower()
        .str.replace("&", "and", regex=False)
        .str.replace(r"[^a-z0-9]+", " ", regex=True)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
    )

insolv_all["industry_key"] = make_key(insolv_all["industry"])
closures_all["industry_key"] = make_key(closures_all["industry"])

In [171]:
master_df["closures_lag1"] = master_df["closures_lag1"].fillna(0)

In [151]:
master_df.head(25)

,naics_code,industry,insolvencies,year,industry_key,closures_lag1
21,72,Accommodation and Food Services,423,2022,accommodation and food services,NaN
45,72,Accommodation and Food Services,584,2023,accommodation and food services,NaN
69,72,Accommodation and food services,716,2024,accommodation and food services,30790.0
17,56,"Administrative and Support, Waste Management a...",122,2022,administrative and support waste management an...,NaN
41,56,"Administrative and Support, Waste Management a...",174,2023,administrative and support waste management an...,NaN
65,56,"Administrative and support, waste management a...",264,2024,administrative and support waste management an...,NaN
0,11,"Agriculture, Forestry, Fishing and Hunting",62,2022,agriculture forestry fishing and hunting,NaN
24,11,"Agriculture, Forestry, Fishing and Hunting",63,2023,agriculture forestry fishing and hunting,NaN
48,11,"Agriculture, forestry, fishing and hunting",74,2024,agriculture forestry fishing and hunting,NaN
20,71,"Arts, Entertainment and Recreation",73,2022,arts entertainment and recreation,NaN
44,71,"Arts, Entertainment and Recreation",116,2023,arts entertainment and recreation,NaN
68,71,"Arts, entertainment and recreation",108,2024,arts entertainment and recreation,NaN
3,23,Construction,358,2022,construction,NaN
27,23,Construction,500,2023,construction,NaN
51,23,Construction,637,2024,construction,74018.0
18,61,Educational Services,28,2022,educational services,NaN
42,61,Educational Services,42,2023,educational services,NaN
66,61,Educational services,61,2024,educational services,NaN
13,52,Finance and Insurance,27,2022,finance and insurance,NaN
37,52,Finance and Insurance,53,2023,finance and insurance,NaN
61,52,Finance and insurance,74,2024,finance and insurance,15352.0
19,62,Health Care and Social Assistance,67,2022,health care and social assistance,NaN
43,62,Health Care and Social Assistance,76,2023,health care and social assistance,NaN
67,62,Health care and social assistance,126,2024,health care and social assistance,37633.0
12,51,Information and Cultural Industries,44,2022,information and cultural industries,NaN

In [157]:
gdp_long = pd.read_csv(r"D:\Canadian Business Analysis Project\data\processed_gdp_data.csv")

In [158]:
import re

def normalize_industry(s):
    if pd.isna(s):
        return s
    s = str(s)
    s = re.sub(r"\s*\[[^\]]+\]\s*", "", s)  # remove [72], [31-33], etc
    s = re.sub(r"\s+", " ", s)
    return s.strip().lower()

In [159]:
master_df["industry_key"] = master_df["industry"].apply(normalize_industry)
gdp_long["industry_key"] = gdp_long["industry"].apply(normalize_industry)

In [160]:
gdp_yearly = (
    gdp_long
    .groupby(["industry_key", "year"], as_index=False)
    .agg(
        gdp=("gdp", "mean"),                      # average level
        gdp_qoq_growth=("gdp_qoq_growth", "mean"),# average growth
        gdp_volatility_4q=("gdp_volatility_4q", "mean")
    )
)
# We group it yearly since the remaining data is also grouped by yearly so to make sure we are consistent with other data sets, we do this!

In [161]:
master_df = master_df.merge(
    gdp_yearly, 
    on=["industry_key", "year"],
    how="left"
)

In [162]:
master_df

,naics_code,industry,insolvencies,year,industry_key,closures_lag1,gdp_x,gdp_qoq_growth_x,gdp_volatility_4q_x,gdp_y,gdp_qoq_growth_y,gdp_volatility_4q_y
0,72,Accommodation and Food Services,423,2022,accommodation and food services,NaN,47762.00,0.065061,NaN,47762.00,0.065061,NaN
1,72,Accommodation and Food Services,584,2023,accommodation and food services,NaN,50472.00,-0.001345,0.033130,50472.00,-0.001345,0.033130
2,72,Accommodation and food services,716,2024,accommodation and food services,30790.0,50944.75,0.003664,0.013384,50944.75,0.003664,0.013384
3,56,"Administrative and Support, Waste Management a...",122,2022,"administrative and support, waste management a...",NaN,59909.00,0.010685,NaN,59909.00,0.010685,NaN
4,56,"Administrative and Support, Waste Management a...",174,2023,"administrative and support, waste management a...",NaN,61221.00,0.001324,0.005375,61221.00,0.001324,0.005375
...,...,...,...,...,...,...,...,...,...,...,...,...
67,22,Utilities,7,2023,utilities,NaN,46704.00,-0.005838,0.014494,46704.00,-0.005838,0.014494
68,22,Utilities,9,2024,utilities,NaN,46836.00,0.004485,0.014898,46836.00,0.004485,0.014898
69,41,Wholesale Trade,122,2022,wholesale trade,NaN,122847.75,-0.005457,NaN,122847.75,-0.005457,NaN
70,41,Wholesale Trade,187,2023,wholesale trade,NaN,122925.00,0.004520,0.012593,122925.00,0.004520,0.012593
71,41,Wholesale trade,249,2024,wholesale trade,12368.0,124479.00,0.002674,0.009409,124479.00,0.002674,0.009409

In [75]:
cpi_all = pd.read_csv(r"D:\Canadian Business Analysis Project\data\processed_cpi_data.csv")

In [163]:
master_df = master_df.drop(
    columns=[
        "gdp_x",
        "gdp_qoq_growth_x",
        "gdp_volatility_4q_x",
        "quarter_num"
    ],
    errors="ignore"
)
master_df = master_df.rename(columns={
    "gdp_y": "gdp",
    "gdp_qoq_growth_y":"gdp_qoq_growth",
    "gdp_volatility_4q_y":"gdp_volatility_4q"})

In [164]:
master_df.head()

,naics_code,industry,insolvencies,year,industry_key,closures_lag1,gdp,gdp_qoq_growth,gdp_volatility_4q
0,72,Accommodation and Food Services,423,2022,accommodation and food services,NaN,47762.00,0.065061,NaN
1,72,Accommodation and Food Services,584,2023,accommodation and food services,NaN,50472.00,-0.001345,0.033130
2,72,Accommodation and food services,716,2024,accommodation and food services,30790.0,50944.75,0.003664,0.013384
3,56,"Administrative and Support, Waste Management a...",122,2022,"administrative and support, waste management a...",NaN,59909.00,0.010685,NaN
4,56,"Administrative and Support, Waste Management a...",174,2023,"administrative and support, waste management a...",NaN,61221.00,0.001324,0.005375

In [165]:
master_df = master_df[
    [
        "naics_code",
        "industry",
        "industry_key",
        "year",
        "insolvencies",
        "closures_lag1",
        "gdp",
        "gdp_qoq_growth",
        "gdp_volatility_4q"
    ]
]

In [109]:
cpi_all.head()

,year,quarter_num,cpi,cpi_qoq_growth,cpi_yoy_growth,cpi_volatility_4q
0,2022,1,147.000000,NaN,NaN,NaN
1,2022,2,151.533333,0.030839,NaN,NaN
2,2022,3,152.800000,0.008359,NaN,NaN
3,2022,4,153.633333,0.005454,NaN,NaN
4,2023,1,154.566667,0.006075,0.051474,0.012169

In [166]:
cpi_yearly = (
    cpi_all
    .groupby("year", as_index=False)
    .agg(
        cpi=("cpi", "mean"),                 # average inflation level
        cpi_qoq_growth=("cpi_qoq_growth", "mean"),
        cpi_yoy_growth=("cpi_yoy_growth", "mean"),
        cpi_volatility_4q=("cpi_volatility_4q", "mean")
    )
)

In [167]:
master_df = master_df.merge(
    cpi_yearly, 
    on="year",
    how="left"
)

In [172]:
master_df.head()

,naics_code,industry,industry_key,year,insolvencies,closures_lag1,gdp,gdp_qoq_growth,gdp_volatility_4q,cpi,cpi_qoq_growth,cpi_yoy_growth,cpi_volatility_4q
0,72,Accommodation and Food Services,accommodation and food services,2022,423,0.0,47762.00,0.065061,NaN,151.241667,0.014884,NaN,NaN
1,72,Accommodation and Food Services,accommodation and food services,2023,584,0.0,50472.00,-0.001345,0.033130,157.108333,0.007946,0.038912,0.006694
2,72,Accommodation and food services,accommodation and food services,2024,716,30790.0,50944.75,0.003664,0.013384,160.850000,0.004763,0.023854,0.006218
3,56,"Administrative and Support, Waste Management a...","administrative and support, waste management a...",2022,122,0.0,59909.00,0.010685,NaN,151.241667,0.014884,NaN,NaN
4,56,"Administrative and Support, Waste Management a...","administrative and support, waste management a...",2023,174,0.0,61221.00,0.001324,0.005375,157.108333,0.007946,0.038912,0.006694

In [169]:
master_df = master_df.drop(
    columns=[
        "cpi_x",
        "cpi_qoq_growth_x",
        "cpi_yoy_growth_x",
        "cpi_volatility_4q_x",
        "quarter_num_x",
        "quarter_num_y",
        "cpi_y",
        "cpi_qoq_growth_y",
        "cpi_yoy_growth_y",
        "cpi_volatility_4q_y"
    ],
    errors="ignore"
)

In [173]:
master_df.head(10)

,naics_code,industry,industry_key,year,insolvencies,closures_lag1,gdp,gdp_qoq_growth,gdp_volatility_4q,cpi,cpi_qoq_growth,cpi_yoy_growth,cpi_volatility_4q
0,72,Accommodation and Food Services,accommodation and food services,2022,423,0.0,47762.00,0.065061,NaN,151.241667,0.014884,NaN,NaN
1,72,Accommodation and Food Services,accommodation and food services,2023,584,0.0,50472.00,-0.001345,0.033130,157.108333,0.007946,0.038912,0.006694
2,72,Accommodation and food services,accommodation and food services,2024,716,30790.0,50944.75,0.003664,0.013384,160.850000,0.004763,0.023854,0.006218
3,56,"Administrative and Support, Waste Management a...","administrative and support, waste management a...",2022,122,0.0,59909.00,0.010685,NaN,151.241667,0.014884,NaN,NaN
4,56,"Administrative and Support, Waste Management a...","administrative and support, waste management a...",2023,174,0.0,61221.00,0.001324,0.005375,157.108333,0.007946,0.038912,0.006694
5,56,"Administrative and support, waste management a...","administrative and support, waste management a...",2024,264,0.0,61064.00,-0.000243,0.004271,160.850000,0.004763,0.023854,0.006218
6,11,"Agriculture, Forestry, Fishing and Hunting","agriculture, forestry, fishing and hunting",2022,62,0.0,43921.25,0.064425,NaN,151.241667,0.014884,NaN,NaN
7,11,"Agriculture, Forestry, Fishing and Hunting","agriculture, forestry, fishing and hunting",2023,63,0.0,42297.00,-0.028371,0.049543,157.108333,0.007946,0.038912,0.006694
8,11,"Agriculture, forestry, fishing and hunting","agriculture, forestry, fishing and hunting",2024,74,0.0,43432.25,0.014878,0.020140,160.850000,0.004763,0.023854,0.006218
9,71,"Arts, Entertainment and Recreation","arts, entertainment and recreation",2022,73,0.0,16710.00,0.068928,NaN,151.241667,0.014884,NaN,NaN

In [183]:
master_df.groupby(["industry", "year"]).size().sort_values(ascending=False).head(10)

industry                           year
Manufacturing                      2023    3
                                   2024    3
                                   2022    3
Transportation and Warehousing     2023    2
                                   2022    2
Retail Trade                       2023    2
                                   2022    2
Wholesale Trade                    2022    1
Public Administration              2023    1
Mining and Oil and Gas Extraction  2022    1
dtype: int64

In [175]:
# Identify ID vs numeric columns
id_cols = ["naics_code", "industry", "industry_key","year"]
num_cols = [c for c in master_df.columns if c not in id_cols]

# Collapse quarterly duplicates  yearly
master_df = (
    master_df
    .groupby(id_cols, as_index=False)[num_cols]
    .mean(numeric_only=True)
)

In [185]:
master_df.head()

,naics_code,industry,industry_key,year,insolvencies,closures_lag1,gdp,gdp_qoq_growth,gdp_volatility_4q,cpi,cpi_qoq_growth,cpi_yoy_growth,cpi_volatility_4q,naics_code_str,sector_code
0,11,"Agriculture, Forestry, Fishing and Hunting","agriculture, forestry, fishing and hunting",2022,62.0,0.0,43921.25,0.064425,NaN,151.241667,0.014884,NaN,NaN,11,11
1,11,"Agriculture, Forestry, Fishing and Hunting","agriculture, forestry, fishing and hunting",2023,63.0,0.0,42297.00,-0.028371,0.049543,157.108333,0.007946,0.038912,0.006694,11,11
2,11,"Agriculture, forestry, fishing and hunting","agriculture, forestry, fishing and hunting",2024,74.0,0.0,43432.25,0.014878,0.020140,160.850000,0.004763,0.023854,0.006218,11,11
3,21,Mining and Oil and Gas Extraction,mining and oil and gas extraction,2022,23.0,0.0,NaN,NaN,NaN,151.241667,0.014884,NaN,NaN,21,21
4,21,Mining and Oil and Gas Extraction,mining and oil and gas extraction,2023,24.0,0.0,NaN,NaN,NaN,157.108333,0.007946,0.038912,0.006694,21,21

In [184]:
# make sure naics_code is stringy and clean
master_df["naics_code_str"] = master_df["naics_code"].astype(str).str.extract(r"(\d+)")[0]

# sector = first 2 digits
master_df["sector_code"] = master_df["naics_code_str"].str[:2]

In [186]:
# collapse 31/32/33 -> 31 (Manufacturing)
master_df["sector_code"] = master_df["sector_code"].replace({"32": "31", "33": "31"})

# collapse 44/45 -> 44 (Retail Trade)
master_df["sector_code"] = master_df["sector_code"].replace({"45": "44"})

# collapse 48/49 -> 48 (Transportation and Warehousing)
master_df["sector_code"] = master_df["sector_code"].replace({"49": "48"})

In [187]:
sector_name_map = (
    master_df.groupby("sector_code")["industry"]
    .agg(lambda s: s.mode().iloc[0] if not s.mode().empty else s.iloc[0])
    .to_dict()
)

master_df["sector"] = master_df["sector_code"].map(sector_name_map)

In [188]:
# choose your numeric feature columns (everything except ids/text)
id_cols = ["sector_code", "sector", "year"]
target_col = "insolvencies"

feature_cols = [
    c for c in master_df.columns
    if c not in ["naics_code", "naics_code_str", "industry", "industry_key", "quarter_num", target_col]
    and master_df[c].dtype != "O"
]

final_df = (
    master_df
    .groupby(id_cols, as_index=False)
    .agg(
        insolvencies=(target_col, "sum"),
        **{c: (c, "mean") for c in feature_cols}
    )
)

In [189]:
final_df

,sector_code,sector,insolvencies,year,closures_lag1,gdp,gdp_qoq_growth,gdp_volatility_4q,cpi,cpi_qoq_growth,cpi_yoy_growth,cpi_volatility_4q
0,11,"Agriculture, Forestry, Fishing and Hunting",62.0,2022.0,0.000000,43921.25,0.064425,NaN,151.241667,0.014884,NaN,NaN
1,11,"Agriculture, Forestry, Fishing and Hunting",63.0,2023.0,0.000000,42297.00,-0.028371,0.049543,157.108333,0.007946,0.038912,0.006694
2,11,"Agriculture, Forestry, Fishing and Hunting",74.0,2024.0,0.000000,43432.25,0.014878,0.020140,160.850000,0.004763,0.023854,0.006218
3,21,Mining and Oil and Gas Extraction,23.0,2022.0,0.000000,NaN,NaN,NaN,151.241667,0.014884,NaN,NaN
4,21,Mining and Oil and Gas Extraction,24.0,2023.0,0.000000,NaN,NaN,NaN,157.108333,0.007946,0.038912,0.006694
5,21,Mining and Oil and Gas Extraction,16.0,2024.0,0.000000,115371.25,0.007277,0.015190,160.850000,0.004763,0.023854,0.006218
6,22,Utilities,4.0,2022.0,0.000000,47699.00,0.000224,NaN,151.241667,0.014884,NaN,NaN
7,22,Utilities,7.0,2023.0,0.000000,46704.00,-0.005838,0.014494,157.108333,0.007946,0.038912,0.006694
8,22,Utilities,9.0,2024.0,0.000000,46836.00,0.004485,0.014898,160.850000,0.004763,0.023854,0.006218
9,23,Construction,358.0,2022.0,0.000000,166706.00,-0.003007,NaN,151.241667,0.014884,NaN,NaN
10,23,Construction,500.0,2023.0,0.000000,166078.00,-0.001756,0.006551,157.108333,0.007946,0.038912,0.006694
11,23,Construction,637.0,2024.0,74018.000000,166100.75,0.003925,0.005921,160.850000,0.004763,0.023854,0.006218
12,31,Manufacturing,199.0,2022.0,0.000000,211521.00,-0.010290,NaN,151.241667,0.014884,NaN,NaN
13,31,Manufacturing,313.0,2023.0,9352.666667,211365.00,0.000102,0.018570,157.108333,0.007946,0.038912,0.006694
14,31,Manufacturing,358.0,2024.0,14560.333333,205866.75,-0.003394,0.006882,160.850000,0.004763,0.023854,0.006218
15,41,Wholesale Trade,122.0,2022.0,0.000000,122847.75,-0.005457,NaN,151.241667,0.014884,NaN,NaN
16,41,Wholesale Trade,187.0,2023.0,0.000000,122925.00,0.004520,0.012593,157.108333,0.007946,0.038912,0.006694
17,41,Wholesale Trade,249.0,2024.0,12368.000000,124479.00,0.002674,0.009409,160.850000,0.004763,0.023854,0.006218
18,44,Retail Trade,318.0,2022.0,0.000000,115874.00,0.005984,NaN,151.241667,0.014884,NaN,NaN
19,44,Retail Trade,463.0,2023.0,17538.500000,118883.00,0.007074,0.010458,157.108333,0.007946,0.038912,0.006694
20,44,Retail Trade,537.0,2024.0,35993.500000,120819.75,0.006191,0.009018,160.850000,0.004763,0.023854,0.006218
21,48,Transportation and Warehousing,224.0,2022.0,0.000000,92235.00,0.025808,NaN,151.241667,0.014884,NaN,NaN
22,48,Transportation and Warehousing,257.0,2023.0,20845.500000,98355.75,0.014316,0.011854,157.108333,0.007946,0.038912,0.006694
23,48,Transportation and Warehousing,426.0,2024.0,42842.500000,101938.75,0.006496,0.001956,160.850000,0.004763,0.023854,0.006218
24,51,Information and Cultural Industries,44.0,2022.0,0.000000,74416.00,0.004569,NaN,151.241667,0.014884,NaN,NaN
25,51,Information and Cultural Industries,88.0,2023.0,0.000000,77785.25,0.012209,0.011761,157.108333,0.007946,0.038912,0.006694
26,51,Information and Cultural Industries,112.0,2024.0,0.000000,79699.75,0.003058,0.009211,160.850000,0.004763,0.023854,0.006218
27,52,Finance and Insurance,27.0,2022.0,0.000000,161992.00,-0.005871,NaN,151.241667,0.014884,NaN,NaN
28,52,Finance and Insurance,53.0,2023.0,0.000000,164207.00,0.005996,0.009698,157.108333,0.007946,0.038912,0.006694
29,52,Finance and Insurance,74.0,2024.0,15352.000000,170451.00,0.013767,0.006018,160.850000,0.004763,0.023854,0.006218
30,53,Real Estate and Rental and Leasing,93.0,2022.0,0.000000,287852.00,-0.003259,NaN,151.241667,0.014884,NaN,NaN
31,53,Real Estate and Rental and Leasing,110.0,2023.0,0.000000,293615.00,0.006814,0.006551,157.108333,0.007946,0.038912,0.006694
32,53,Real Estate and Rental and Leasing,166.0,2024.0,27813.000000,302264.00,0.008191,0.005283,160.850000,0.004763,0.023854,0.006218
33,54,"Professional, Scientific and Technical Services",177.0,2022.0,0.000000,157084.75,0.016689,NaN,151.241667,0.014884,NaN,NaN
34,54,"Professional, Scientific and Technical Services",277.0,2023.0,0.000000,164858.00,0.006922,0.006657,157.108333,0.007946,0.038912,0.006694
35,54,"Professional, Scientific and Technical Services",373.0,2024.0,72408.000000,168486.00,0.006448,0.004604,160.850000,0.004763,0.023854,0.006218
36,55,Management of Companies and Enterprises,70.0,2022.0,0.000000,1847.00,-0.097425,NaN,151.241667,0.014884,NaN,NaN
37,55,Management of Companies and Enterprises,83.0,2023.0,0.000000,1322.75,-0.077567,0.017467,157.108333,0.007946,0.038912,0.006694
38,55,Management of Companies and Enterprises,126.0,2024.0,0.000000,947.00,-0.080472,0.009317,160.850000,0.004763,0.023854,0.006218
39,56,"Administrative and Support, Waste Management a...",122.0,2022.0,0.000000,59909.00,0.010685,NaN,151.241667,0.014884,NaN,NaN
40,56,"Administrative and Support, Waste Management a...",174.0,2023.0,0.000000,61221.00,0.001324,0.005375,157.108333,0.007946,0.038912,0.006694
41,56,"Administrative and Support, Waste Management a...",264.0,2024.0,0.000000,61064.00,-0.000243,0.004271,160.850000,0.004763,0.023854,0.006218
42,61,Educational Services,28.0,2022.0,0.000000,118580.00,0.008134,NaN,151.241667,0.014884,NaN,NaN
43,61,Educational Services,42.0,2023.0,0.000000,120712.00,-0.005145,0.008925,157.108333,0.007946,0.038912,0.006694
44,61,Educational Services,61.0,2024.0,0.000000,125043.75,0.018234,0.033288,160.850000,0.004763,0.023854,0.006218
45,62,Health Care and Social Assistance,67.0,2022.0,0.000000,172284.00,0.010260,NaN,151.241667,0.014884,NaN,NaN
46,62,Health Care and Social Assistance,76.0,2023.0,0.000000,177372.00,0.005339,0.002095,157.108333,0.007946,0.038912,0.006694
47,62,Health Care and Social Assistance,126.0,2024.0,37633.000000,184572.00,0.011337,0.005113,160.850000,0.004763,0.023854,0.006218
48,71,"Arts, Entertainment and Recreation",73.0,2022.0,0.000000,16710.00,0.068928,NaN,151.241667,0.014884,NaN,NaN
49,71,"Arts, Entertainment and Recreation",116.0,2023.0,0.000000,18465.25,0.009322,0.024863,157.108333,0.007946,0.038912,0.006694
50,71,"Arts, Entertainment and Recreation",108.0,2024.0,0.000000,18883.00,0.006648,0.007508,160.850000,0.004763,0.023854,0.006218
51,72,Accommodation and Food Services,423.0,2022.0,0.000000,47762.00,0.065061,NaN,151.241667,0.014884,NaN,NaN
52,72,Accommodation and Food Services,584.0,2023.0,0.000000,50472.00,-0.001345,0.033130,157.108333,0.007946,0.038912,0.006694
53,72,Accommodation and Food Services,716.0,2024.0,30790.000000,50944.75,0.003664,0.013384,160.850000,0.004763,0.023854,0.006218
54,81,Other Services (except Public Administration),179.0,2022.0,0.000000,42935.00,0.017522,NaN,151.241667,0.014884,NaN,NaN
55,81,Other Services (except Public Administration),283.0,2023.0,0.000000,44794.25,0.005807,0.006223,157.108333,0.007946,0.038912,0.006694
56,81,Other Services (except Public Administration),320.0,2024.0,0.000000,44913.00,-0.000833,0.002481,160.850000,0.004763,0.023854,0.006218
57,91,Public Administration,8.0,2022.0,0.000000,157687.00,0.007426,NaN,151.241667,0.014884,NaN,NaN
58,91,Public Administration,4.0,2023.0,0.000000,161453.25,0.004639,0.004700,157.108333,0.007946,0.038912,0.006694
59,91,Public Administration,18.0,2024.0,0.000000,165550.75,0.005952,0.004320,160.850000,0.004763,0.023854,0.006218

In [190]:
print(final_df.shape)
print(final_df.isna().mean().sort_values(ascending=False))

# 2. One row per sector-year
final_df.groupby(["sector", "year"]).size().value_counts()

(60, 12)
gdp_volatility_4q    0.350000
cpi_yoy_growth       0.333333
cpi_volatility_4q    0.333333
gdp                  0.033333
gdp_qoq_growth       0.033333
sector_code          0.000000
sector               0.000000
insolvencies         0.000000
year                 0.000000
closures_lag1        0.000000
cpi                  0.000000
cpi_qoq_growth       0.000000
dtype: float64

1    60
Name: count, dtype: int64

In [191]:
final_df.to_csv(r'D:\Canadian Business Analysis Project\data\final_processed_data.csv', index=False)